site_name: SVC Python Libraries
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["packages"]
          options:
            show_source: true
            show_root_heading: true
            merge_init_into_class: true
