site_name: SVC Python Libraries
site_url: https://equinix-svc.github.io/svc-libraries/

docs_dir: docs
site_dir: site

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true

nav:
  - Home: index.md
  - API Reference:
      - Juniper: juniper.md
      - Netbox: netbox.md
      - Synchronize: synchronize.md
